/* 13. Download */
.download-area {
    background: $dark;
    .download-text {
        padding: 0 10% 0 42%;
        margin-top: 50px;
        @include desktop() {
            padding: 0 5%;
            margin-top: 0;
        }
        @include tablet() {
            padding: 0 5%;
            margin-top: 0;
            margin-bottom: 20px;
        }
        @include landscape-phone() {
            padding: 0 5%;
            margin-top: 0;
            margin-bottom: 20px;
        }
        @include portrait-phone() {
            padding: 0 5%;
            margin-top: 0;
            margin-bottom: 20px;
        }
    }
    .download-img {
        width: 100%;
        height: 460px;
        background-image: url('../images/mobile.png');
        background-repeat: no-repeat;
        background-position: center;
        @include desktop() {
            height: 300px;
            background-size: cover;
        }
        @include tablet() {
            background-size: cover;
        }
        @include landscape-phone() {
            width: 90%;
            height: 300px;
            background-size: cover;
        }
        @include portrait-phone() {
            width: 90%;
            height: 180px;
            background-size: cover;
        }
    }
}
