/* 4. Header */
.header-area.main-header {
    padding: 30px 0;
}
.header-top {
    position: relative;
    padding: 30px 0;
    img {
        margin-top: 10px;
    }
    .template-btn {
        margin-left: 30px;
        @include desktop() {
            margin-left: 0;
        }
        @include tablet() {
            margin-left: 15px;
            margin-top: 15px;
        }
        @include landscape-phone() {
            margin-left: 15px;
            margin-top: 15px;
        }
        @include portrait-phone() {
            margin-left: 15px;
            margin-top: 15px;
        }
    }
}