// Font 
$heading-font: 'Poppins', sans-serif;
$body-font: 'Open Sans', sans-serif;

// Color 
$primary-color: #ff9902;
$heading-text: #222222;
$body-text: #777777;
$light: #ffffff;
$dark: #f9f9f9;
$footer: #04091e;
$social: #111111;
$border: #eeeeee;
$shadow: rgba(0,0,0,.1);
$overlay: rgba(1,2,12,.6);
$overlay2: rgba(255,153,2,.7);
$blog-overlay: rgba(0,0,0,.4);
$placeholder: #b0b0b0;
$pricing-btn: #ffa31c;
$blog: #928c91;